@model IEnumerable<Biblioteka.Models.MemberEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Pracownicy</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a class="btn" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a class="btn" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p class="d-flex flex-row-reverse">
    <a class="btn btn-primary" asp-action="Create">Dodaj</a>
</p>