@model IEnumerable<Biblioteka.Models.BookEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Książki</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> 
                <a class="btn" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> 
                <a class="btn" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p class="d-flex flex-row-reverse">
    <a class="btn btn-primary" asp-action="Create">Dodaj</a>
</p>