@model IEnumerable<Biblioteka.Models.OrderEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Wypożyczone książki</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
                <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                <a class="btn" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a class="btn" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a class="btn" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>

<p class="d-flex flex-row-reverse">
    <a class="btn btn-primary" asp-action="Create">Wypożycz książkę</a>
</p>
